body {
  margin: 0;
  background-image: url("../img/deee1.png");
}

.roadmap-title {
  text-align: center;
  background: linear-gradient(90deg, #ef24fd 0%, #0bf5c5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 500 75px Futura, sans-serif;
}

@media (max-width: 991px) {
  .roadmap-title {
    font-size: 40px;
  }
}

.road-map-container {
  align-content: center;
  display: flex;
  width: 960px;
  max-width: 100%;
  flex-direction: column;
  margin: 0 0 14px 66px;
}

.title {
  text-align: center;
  background: linear-gradient(90deg, #ef24fd 0%, #0bf5c5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
  font: 500 75px Futura, sans-serif;
}

@media (max-width: 991px) {
  .title {
    font-size: 40px;
  }
}

.content {
  z-index: 10;
  margin-top: 96px;
}

@media (max-width: 991px) {
  .content {
    max-width: 100%;
    margin-top: 40px;
  }
}

.road-map {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .road-map {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.road-map-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 63%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .road-map-column {
    width: 100%;
  }
}

.column-wrapper {
  flex-grow: 1;
}

@media (max-width: 991px) {
  .column-wrapper {
    max-width: 100%;
    margin-top: 19px;
  }
}

.column-content {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .column-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.text-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 42%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .text-column {
    width: 100%;
  }
}

.quarter-section {
  z-index: 10;
  display: flex;
  margin-top: 46px;
  flex-direction: column;
  font-size: 30px;
  color: var(--icon-color, #fff);
  font-weight: 500;
}

@media (max-width: 991px) {
  .quarter-section {
    margin-top: 40px;
  }
}

.quarter-title {
  text-align: center;
  font-family: Futura, sans-serif;
  width: 220.446px;
  height: 52.309px;
  flex-shrink: 0;
}

.quarter-content {
  color: var(--icon-color, #FFF);
  font-family: "Roboto Mono";
  font-size: 17.187px;
  font-style: normal;
  font-weight: 400;
  line-height: 168%; /* 28.875px */
}

.quarter-subtitle {
  text-align: center;
  font-family: Futura, sans-serif;
  margin-top: 227px;
}

@media (max-width: 991px) {
  .quarter-subtitle {
    margin-top: 40px;
  }
}

.image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 58%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .image-column {
    width: 100%;
  }
}

.image {
  aspect-ratio: 0.65;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

.extra-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 37%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .extra-column {
    width: 100%;
  }
}

.extra-content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--icon-color, #fff);
  margin: auto 0;
}

@media (max-width: 991px) {
  .extra-content {
    margin-top: 40px;
  }
}

.extra-title {
  text-align: center;
  font-family: Futura, sans-serif;
  width: 220.446px;
  height: 52.309px;
  flex-shrink: 0;
}

.extra-description {
  margin-top: 29px;
  font: 400 17px/29px Roboto Mono, -apple-system, Roboto, Helvetica, sans-serif;
}

.extra-summary {
  color: var(--icon-color, #fff);
  font: 400 17px/29px Roboto Mono, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .extra-summary {
    max-width: 100%;
  }
}
  .baslik1 {
    color: var(--icon-color, #FFF);
    text-align: center;
    font-family: Futura;
    font-size: 29.891px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 220.446px;
    height: 52.309px;
    flex-shrink: 0;
    margin-top: -15px;
    margin-left: 70px;
  }
  .baslik2 {
    color: var(--icon-color, #FFF);
    text-align: center;
    font-family: Futura;
    font-size: 29.891px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 220.446px;
    height: 52.309px;
    flex-shrink: 0;
    margin-top: 70px;
    margin-left: -50px;
  }
  .baslik3 {
    color: var(--icon-color, #FFF);
    text-align: center;
    font-family: Futura;
    font-size: 29.891px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 220.446px;
    height: 52.309px;
    flex-shrink: 0;
    margin-top: 145px;
    margin-left: 70px;
  }

  .yazi1 {
    color: var(--icon-color, #FFF);
    font-family: "Roboto Mono";
    font-size: 17.187px;
    font-style: normal;
    font-weight: 400;
    line-height: 168%; /* 28.875px */
    width: 298.567px;
    height: 93.379px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-top: -30px;
  }
  .yazi2 {
    color: var(--icon-color, #FFF);
    font-family: "Roboto Mono";
    font-size: 17.187px;
    font-style: normal;
    font-weight: 400;
    line-height: 168%; /* 28.875px */
    width: 364.915px;
    height: 117.952px;
    flex-shrink: 0;
    margin-left: -20px;
    margin-top: -30px;
  }

  .yazi3 {
    color: var(--icon-color, #FFF);
    font-family: "Roboto Mono";
    font-size: 17.187px;
    font-style: normal;
    font-weight: 400;
    line-height: 168%; /* 28.875px */
    width: 323.14px;
    height: 93.379px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-top: -70px;
  }
  .sagresim1 {
    position: relative;
    margin-top: -60%;
    margin-left: 80%; /* 1100px yerine yüzde ile hizalama */
    transform: translateX(50%); /* Öğeyi tam olarak sağa hizalar */
    width: 50%;
  }
  
  body {
    overflow-x: hidden; /* Yatay scrollbarları gizler */
    overflow-y: hidden;
  }