@color: #5bc0eb;

* {
  box-sizing: border-box;
}

@keyframes move-dot1 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }

  20% {
    transform: translateX(-50%) translateY(30%);
  }

  100% {
    transform: translateX(-50%) translateY(30%);
  }
}

@keyframes move-dot2 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }

  15% {
    transform: translateX(-50%) translateY(-10%);
  }

  30% {
    transform: translateX(-10%) translateY(-10%);
  }

  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

body {
    background-image: url('../img/1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }