.test {
    margin: 0;
    background-image: url("../img/deee1.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: 200px;
}
  